<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<Paths>
		<Resources ignore="true">
			<Images ignore="true">
				<WebImages comment="Here be images served by the http server." />
			</Images>
		</Resources>
	</Paths>
	<Identifiers>
		<AudioFactory>audio_factory</AudioFactory>
		<VideoFactory>video_factory</VideoFactory>
		<SetupScript>test_client_setup</SetupScript>
		<HttpServer>http_server</HttpServer>
	</Identifiers>
	<Consts>
		<DbName comment="Name of the data base file used by the memory.">TestClient.db</DbName>
		<HttpPort type="int" comment="Used by the http-server as external port.">4242</HttpPort>
		<DeviceListenerPath comment="Used as URL-path by the http-server for incomming device requests.">/devices</DeviceListenerPath>
		<ImageListenerPath comment="Used as URL-path by the http-server for serving images.">/images</ImageListenerPath>
	</Consts>
</Configuration>
